{{ $site := .Site }}
{{ $s := .Scratch }}

{{ with .Next }}
    {{ $s.Set "sig" . }}
{{ else }}
  {{ $s.Set "sig" (index $site.RegularPages.ByDate 0) }}
{{ end }}

{{ $sig := $s.Get "sig" }}

<!-- SVG para referenciar desde .obra-navegación-siguiente__ilustración  -->
<svg width="0" height="0">
  <defs>
    <clipPath id="path" clipPathUnits="objectBoundingBox">
        <path d='M1 0C.6 0 .4.03.3.1.27.13 0 .29 0 .39.008.574.174.598.297.69.431.782.403.824.5.9.615.997 1 1 1 1Z'></path>
    </clipPath>
  </defs>
</svg>

<div class="obra-navegación" style="
                                    background-image:  url('{{ (.Resources.Get "nav-fondo-nombre.png").RelPermalink }}'),
                                                       url('{{ relURL "imgs/obra-siguiente-textura.webp" }}');
                                    background-size: auto, cover;
                                    background-position: 0px 20px, 0px 0px;
                                    ">
  <div class="persona-wrapper">
    <img class="adornoA"
         src="{{ relURL "imgs/obra-siguiente-adorno.webp" }}">

    <img class="adornoB"
         src="{{ relURL "imgs/obra-siguiente-adorno.webp" }}">

    {{- with .Resources.GetMatch "nav-artista-1.*" -}}
    <img class="obra-navegación__persona persona-foto-grande"
       src="{{ .RelPermalink }}"
       >
    {{- end -}}
    {{- with .Resources.GetMatch "nav-artista-2.*" -}}
    <img class="obra-navegación__persona persona-foto-mobile"
       src="{{ .RelPermalink }}"
       >
    {{- end -}}
  </div>

  <a href="{{ relURL "#listado-de-obras" }}">
    <img class="obra-navegación__volver"
         src="{{ relURL "imgs/obra-siguiente-volver.webp" }}"
         alt="Volver a las obras">

    <img class="obra-navegación__volver-mob"
         src="{{ relURL "imgs/obra-siguiente-volver-mob.webp" }}"
         alt="Volver a las obras">
  </a>

  <div class="obra-navegación-siguiente">
    <a href="{{ $sig.RelPermalink }}">
      {{- with default ($sig.Resources.GetMatch "encabezado-main.*") ($sig.Resources.GetMatch "obra-pv.*") -}}
      {{- $processed := .Fill "520x680 webp" -}}
      <img class="obra-navegación-siguiente__ilustración"
           src="{{ $processed.RelPermalink }}"
           alt="Ilustración de {{ $sig.Title }}">
      {{- end -}}
      <img class="obra-navegación-siguiente__cinta"
           src="{{ relURL "imgs/obra-siguiente-siguiente.webp" }}"
           alt="Próxima obra">
    </a>
  </div>

  <div class="obra-navegación-siguiente-mob">
    <img class="obra-navegación-siguiente-mob__prox"
         src="{{ relURL "imgs/obra-siguiente-siguiente-mob.webp" }}"
         alt="Próxima obra">

    <a href="{{ $sig.RelPermalink }}">
      <img class="obra-navegación-siguiente-mob__sig"
           src="{{ relURL "imgs/obra-siguiente-cinta-gris.webp" }}"
           alt="{{ $sig.Title }}">

      <div class="obra-navegación-siguiente-mob__sig-texto">
        {{ $sig.Title }}
      </div>
    </a>

  </div>
</div>
