<main class="obra-main">
  <div class="obra-investigacion">
      {{ with .Params.video }}
    <div class="obra-investigacion-video">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ . }}" title="" frameBorder="0"   allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowFullScreen><br></iframe>
    </div>
  {{ end }}

  {{ .Content }}
  </div>

  <div class="obra-investigación-división">
    <img draggable="false" src="{{ relURL "imgs/divisor-obra-investigación.webp" }}" alt="división">

    <a href="#top">
      <button>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <title>flecha-arriba</title>
          <path d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z" />
        </svg>
      </button>
    </a>
  </div>

  <div class="investigación">
    <div class="investigación-contenido">

      {{- $invFoto := .Resources.GetMatch "investigación-foto.*" -}}
      {{- with $invFoto -}}
        {{- if gt .Width 770 -}}
          {{- $invFoto = .Resize "770x Linear" -}}
        {{- end -}}
      {{- end -}}

      <div class="investigación-texto">
        <h3>Investigación</h3>
        {{/* usamos .txt en vez de .md para hacerle la vida más fácil a la gente */}}
        {{- with .Resources.Get "investigación.txt" -}}
          {{- .Content | markdownify -}}
        {{- end -}}

        {{ with .Resources.GetMatch "*.pdf" }}
        <div class="button-wrapper">
          <a href="{{ .RelPermalink }}" target="_blank" rel="noopener noreferrer">
            <button class="botón-estilizado">Ver investigación</button>
          </a>
        </div>
        {{ end }}
      </div>

      {{- with $invFoto -}}
        <img src="{{ .RelPermalink }}" alt="Foto de investigación">
      {{- end -}}

    </div>
  </div>
</main>
