{{ define "head" }}
<meta property="og:title" content="{{ .Title }}"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="{{ .Permalink }}"/>
<meta property="og:description" content="{{ default (.Summary | truncate 120) .Description }}"/>
{{ with .Resources.GetMatch "encabezado-mini.*" }}
<meta property="og:image" content="{{ .Permalink }}"/>
{{ end }}
{{- $obraCSS := resources.Get "obra.css" | toCSS | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $obraCSS.RelPermalink }}">
{{ end }}
{{ define "body" }}
{{ partial "obra/encabezado" . }}
{{ partial "obra/obra-e-investigacion" . }}
{{ partial "obra/navegacion" . }}
{{ end }}
