@charset "utf-8";

@font-face {
  font-family: 'Hit me punk';
  src: url('hitmepunk.ttf') format('truetype');
}

.descripción-evento-wrapper {
  width: 100%;
  background-image: url('imgs/header-fondo-pie-patrón.webp');
}

.descripción-evento {
  color: white;
  display: grid;
  width: 100%;
  max-width: 1366px;
  padding: var(--min-padding);
  box-sizing: border-box;
  margin: 0 auto;
  grid-template-columns: 1fr Min(65px, 5.5%) 50%;
}

.descripción-evento-texto {
  box-sizing: border-box;
  text-align: justify;
}

.button-wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
}

.descripción-evento-imagen > img {
  display: block;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}

@media (max-width: 720px) {
  .descripción-evento {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .descripción-evento-imagen > img {
    aspect-ratio: 1 / 1;
  }
}

.home-lista-obras {
  padding-top: 20px;

  h2 {
    color: #EB0292;
    margin-bottom: -20px;
    text-align: center;
    text-transform: uppercase;
  }
}

#home-lista-obras__filtros {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 10px;
  justify-content: space-around;
  padding: 20px;

  > span {
    font-weight: 700;
    cursor: pointer;
  }
}

.home-zona-lista-obras {
  position: relative;
  background-image: url('imgs/home-lista-fondo.webp');
  background-size: cover;
}

#home-lista-obras__lista {
  --lista-obras-espaciado: 5px;
  --lista-obras-card-alto-y-ancho: 386px;
  --lista-obras-padding-top-bottom: 15px;
  display: grid;
  position: relative;
  grid-template-columns: repeat(10, max-content);
  grid-auto-flow: row dense;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  gap: var(--lista-obras-espaciado);
  box-sizing: border-box;
  padding-top: var(--lista-obras-padding-top-bottom);
  padding-bottom: var(--lista-obras-padding-top-bottom);
  max-height: calc(
    var(--lista-obras-card-alto-y-ancho) * 2
    + var(--lista-obras-espaciado) * 2
    + var(--lista-obras-padding-top-bottom) * 2 /* dejar en *1 si se quiere ocultar al siguiente*/
  );

  .home-lista-obras__card {
    scroll-snap-align: start end;
    display: flex;
    color: white;
    width: var(--lista-obras-card-alto-y-ancho);
    aspect-ratio: 1/1;

    @media (max-width: 500px) {
      width: 100vw;
      scroll-snap-align: center;
    }
  }

  a {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;

    .home-lista-obras__card-texto {
      position: absolute;
      display: flex;
      flex-direction: column;
      z-index: 7;
      text-align: end;
      justify-content: flex-end;
      height: 100%;
      width: 59%;

      .home-lista-obras__card-texto__fecha-lugar {
        display: flex;
        justify-content: flex-end;
        font-size: 19px;;
        column-gap: 7px;

        /* fecha */
        div:first-child {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 19px;
          font-weight: 800;
        }

        /* lugar */
        div:nth-child(2) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: start;
          font-size: 0.4em;
        }
      }

      .home-lista-obras__card-texto__crédito {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;

        > span {
          font-size: 12px;
        }
      }

      > * {
        padding: 10px;
      }

      h5 {
        font-size: 30px;
        font-family: 'Hit me punk';
      }
    }
  }

  a .home-lista-obras__card-fondo {
    position: relative;
    height: 100%;
    width: 100%;

    .ilustración-cubierta {
      position: absolute;
      left: 0;
      top: 0;
    }

    .ilustración-logo {
      position: absolute;
      left: 4%;
      top: 1.5%;
      width: 20.5%;
      transform: rotate(-3deg);
    }

    .parte-ilustrada {
      position: relative;
      height: 100%;
      width: 50%;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
      }

      .parte-ilustrada-original {
        display: block;
        filter:  grayscale(1);
        object-fit: cover;
      }

      .parte-ilustrada-trama {
        top: 0;
        left: 0;
        position: absolute;
        mix-blend-mode: overlay;
      }

      .parte-ilustrada-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to bottom, rgba(244, 43, 174, 1.0), rgba(244, 43, 174, 0.4) 115%);
        mix-blend-mode: darken;
      }
    }
  }
}

.obra-cat-filtrado {
  display: none !important;
}

.obra-filtro-activo {
  color: #EB0292 !important;
}

.obras-nav-botón {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 10px;
  width: 60px;
  aspect-ratio: 1/1;
  position: absolute;
  z-index: 20;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  background-color: #faef7d;
  opacity: .9;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 40%;
  }

  @media (max-width: 500px) {
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;

    img {
      width: initial;
    }
  }
}

#obras-nav-retroceder {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  img {
    transform: rotate(270deg);
  }
}

#obras-nav-avanzar {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  img {
    transform: rotate(90deg);
  }
}

.home-lista-obras-dialog--acceso {
  display: flex;
  justify-content: center;
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;

  > span {
    box-sizing: border-box;
    cursor: pointer;
    padding: 20px;
    font-weight: 600;

    &::after {
      content: '';
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" width="24px" viewBox="0 2 24 24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></svg>');
      aspect-ratio: 1/1;
      height: 1.4em;
      background-size: cover;
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
    }
  }
}

#home-lista-obras-dialog {
  --padding-x-opción: 14px;
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 98%;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%) scale(0);
  transition: transform 0.2s;
  color: #454545;
  border-radius: 7px;

  h6 {
    color: black;
    font-size: 20px;
    padding-left: var(--padding-x-opción);
    padding-right: var(--padding-x-opción);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  div.obra-filtro-activo {
    color: initial !important;
  }

  &.home-lista-obras-dialog--abierto {
    transform: translateY(-50%) scale(1);
  }

  .obras-dialog-opción {
    background-color: white;
    transition: background-color 0.3s;
    padding-left: var(--padding-x-opción);
    padding-right: var(--padding-x-opción);
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;

    &.obra-filtro-activo {
      font-weight: 800;
      background-color: #e6e6e6;
    }

    &:hover {
      background-color: #d9d9d9;
    }
  }
}

/* comienzo de switch de visibilidad de filtros */
@media (max-width: 720px) {
  #home-lista-obras__filtros {
    display: none;
  }
}

@media (min-width: 721px) {
  .home-lista-obras-dialog--acceso {
    display: none;
  }
}
/* fin de switch de visibilidad de filtros */

@media (max-width: 520px) {
  #home-lista-obras__lista {
    grid-auto-flow: column;
    grid-template-columns: initial;
    grid-template-rows: repeat(2, auto);
  }
}
