.header-header{
    background-image: url('imgs/header-fondo-pie.webp'), url('imgs/header-fondo.webp');
    background-size: 1920px, cover;
    background-position: bottom left, top left;
    background-repeat: repeat-x, no-repeat;
    overflow: hidden;
    position: relative;
}

.barra-de-navegaci贸n {
    font-family: 'DCC Ash';
    padding-top: 50px;
    column-gap: 20px;
    color: white;
  }

.barra-de-navegaci贸n ul {
    display: flex;
    justify-content: center;
    gap: clamp(5%, 10px, 60px);
}

.barra-de-navegaci贸n ul > li {
    font-size: 2.5em;
    display: inline;
}
.contenedor{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 550px;
}
.encabezado{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    transform: translateX(8%);
}

.encabezado img{
    width: 70%;
}

.fecha img{
    width: 20%;
}

.socials{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: auto;
    margin-bottom: 200px;
    height: 35px;

    @media screen and (max-width: 720px) {
        height: 30px;
        margin-bottom: 30px;
    }

    a {
        height: 100%;

        img {
            height: 100%;
        }
    }
}

@media screen and (max-width: 720px) {
    .header-header{
        background-image: url('imgs/header-fondo-pie.webp'), url('imgs/header-fondo-mobile.webp');
    }

    .barra-de-navegaci贸n ul > li {
        font-size: 1.5em;
    }

    .encabezado img {
        width: 90%;
    }

    .fecha img {
        width: 40%;
        padding: 15% 0;
    }
}
