@charset "utf-8";

:root {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  --obra-gap: 30px;
  --obra-bloque-gap: 16px;
  --min-padding: 10px;
  --color-acento: #EB0292;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

@font-face {
  font-family: 'DCC Ash';
  src: url('dcc-ash.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

h1, h2, h3, h4, h5 {
  font-family: 'DCC Ash';
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3.5em;
}

h4 {
  font-size: 3em;
}

h5 {
  font-size: 2.5em;
}

a:link, a:visited, a:hover, a:active {
  all: unset;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.botón-estilizado {
  display: block;
  border: none;
  padding: .8em;
  font-weight: bold;
  text-transform: uppercase;

  :hover {
    background-color: silver;
  }

  :active {
    background-color: darkgray;
  }
}

strong {
  font-weight: bold;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  background-image: url('fondo-papel.webp');
  background-position: 0 900px;
}

main {
  flex-grow: 1;
}

.bloque {
 margin-bottom: 10px;
}

.main-footer-container {
  background-image: url('imgs/main-footer-fondo.webp');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  padding-left: var(--min-padding);
  padding-right: var(--min-padding);

  .main-footer-social-media {
    display: flex;
    column-gap: 20px;
    height: 50px;
    justify-content: center;
    padding-bottom: 10px;

    @media (max-width: 1000px) {
      column-gap: 30px;
    }

    li {
      display: inline;
      height: 35px;

      @media (max-width: 1000px) {
        height: 30px;
      }

      @media (max-width: 500px) {
        height: 23px;
      }

      a {
        display: inline-block;
        height: 100%;

        i.ícono {
          height: 100%;
          transition: color ease 0.1s;

          &:hover {
            color: var(--color-acento);
          }
        }
      }
    }
  }

  .main-footer-copyright {
    font-weight: 300;
    font-size: 22px;
    text-align: center;

    @media (max-width: 800px) {
      font-size: 20px;
    }

    @media (max-width: 700px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (max-width: 500px) {
      font-size: 12px;
    }
  }

  .main-footer-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    max-width: 1647px;
    column-gap: 100px;
    font-size: 28px;
    white-space: nowrap;

    > * {
      text-align: center;
      max-width: 324px;
      justify-self: center;
      text-overflow: ellipsis;
      overflow: hidden;

      img {
        max-width: 100%;
        display: block;
      }
    }

    @media (max-width: 1200px) {
      column-gap: 60px;
      font-size: 20px;
    }

    @media (max-width: 800px) {
      justify-content: end;
      column-gap: 26px;
      row-gap: 30px;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      grid-template-rows: 1fr 1fr;
      font-size: 26px;
    }

    @media (max-width: 550px) {
      row-gap: 5px;
      column-gap: 12px;
      font-size: 22px;
      margin-top: 50px;
    }

    @media (max-width: 500px) {
      font-size: 18px;
      margin-top: 40px;
    }

    @media (max-width: 450px) {
      font-size: 17px;
      margin-top: 30px;
    }

    @media (max-width: 400px) {
      font-size: 14px;
    }

    @media (max-width: 300px) {
      font-size: 11px;
    }

    @media (max-width: 260px) {
      row-gap: 20px;
      grid-template-columns: 80%;
      grid-auto-rows: 70px;
      font-size: 16px;
      justify-items: center;

      > * img {
        max-height: 70px;
      }
    }
  }
}

i.ícono {
  -webkit-mask: var(--ícono);
  --mask: var(--ícono);
  mask-repeat: no-repeat;
  -webkit-mask-repeat-x: no-repeat;
  -webkit-mask-repeat-y: no-repeat;
  background-color: currentColor;
  min-height: 0.8em;
  display: inline-block;
  overflow: hidden;
  
  &.facebook {
    --ícono: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 45"><path d="M45.4998 22.6378C45.4998 10.1334 35.4254 -0.00280762 22.9998 -0.00280762C10.5685 4.88271e-06 0.494141 10.1334 0.494141 22.6406C0.494141 33.9384 8.72352 43.3041 19.4785 45.0028V29.1825H13.7691V22.6406H19.4841V17.6484C19.4841 11.9756 22.8451 8.8425 27.9835 8.8425C30.4473 8.8425 33.0207 9.28407 33.0207 9.28407V14.8528H30.1829C27.3901 14.8528 26.5182 16.5994 26.5182 18.3909V22.6378H32.7563L31.7607 29.1797H26.5154V45C37.2704 43.3012 45.4998 33.9356 45.4998 22.6378Z"/></svg>');
    aspect-ratio: 46/45;
  }

  &.tiktok {
    --ícono: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 45"><path d="M22.8125 0H28.3813C28.7863 2.01094 29.9 4.54781 31.8547 7.065C33.7672 9.53156 36.3041 11.25 39.6875 11.25V16.875C34.7572 16.875 31.0531 14.5856 28.4375 11.7309V30.9375C28.4375 33.7188 27.6128 36.4376 26.0675 38.7502C24.5223 41.0628 22.3261 42.8652 19.7565 43.9296C17.1869 44.9939 14.3594 45.2724 11.6315 44.7298C8.90369 44.1872 6.39799 42.8479 4.43132 40.8812C2.46464 38.9145 1.12532 36.4088 0.582713 33.681C0.0401086 30.9531 0.318593 28.1256 1.38295 25.556C2.44731 22.9864 4.24973 20.7902 6.5623 19.245C8.87487 17.6998 11.5937 16.875 14.375 16.875V22.5C12.7062 22.5 11.0749 22.9949 9.68738 23.922C8.29984 24.8491 7.21839 26.1669 6.57977 27.7086C5.94116 29.2504 5.77407 30.9469 6.09963 32.5836C6.42519 34.2203 7.22879 35.7237 8.40879 36.9037C9.5888 38.0837 11.0922 38.8873 12.7289 39.2129C14.3656 39.5384 16.0621 39.3714 17.6039 38.7327C19.1457 38.0941 20.4634 37.0127 21.3905 35.6251C22.3177 34.2376 22.8125 32.6063 22.8125 30.9375V0Z"/></svg>');
    aspect-ratio: 40/45;
  }

  &.instagram {
    --ícono: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 45"><path d="M23 0C16.8941 0 16.1263 0.028125 13.7272 0.135C11.3281 0.2475 9.69406 0.624375 8.2625 1.18125C6.76089 1.74605 5.40076 2.63201 4.27719 3.77719C3.13271 4.90133 2.24686 6.2613 1.68125 7.7625C1.12437 9.19125 0.744688 10.8281 0.635 13.2187C0.528125 15.6234 0.5 16.3884 0.5 22.5028C0.5 28.6116 0.528125 29.3766 0.635 31.7756C0.7475 34.1719 1.12437 35.8059 1.68125 37.2375C2.25781 38.7169 3.02563 39.9712 4.27719 41.2228C5.52594 42.4744 6.78031 43.245 8.25969 43.8187C9.69406 44.3756 11.3253 44.7553 13.7216 44.865C16.1234 44.9719 16.8884 45 23 45C29.1116 45 29.8738 44.9719 32.2756 44.865C34.6691 44.7525 36.3088 44.3756 37.7403 43.8187C39.241 43.2537 40.6001 42.3677 41.7228 41.2228C42.9744 39.9712 43.7422 38.7169 44.3187 37.2375C44.8728 35.8059 45.2525 34.1719 45.365 31.7756C45.4719 29.3766 45.5 28.6116 45.5 22.5C45.5 16.3884 45.4719 15.6234 45.365 13.2216C45.2525 10.8281 44.8728 9.19125 44.3187 7.7625C43.7532 6.26126 42.8674 4.90128 41.7228 3.77719C40.5996 2.63159 39.2394 1.74557 37.7375 1.18125C36.3031 0.624375 34.6662 0.244688 32.2728 0.135C29.8709 0.028125 29.1088 0 22.9944 0H23.0028H23ZM20.9834 4.05563H23.0028C29.0103 4.05563 29.7219 4.07531 32.0928 4.185C34.2866 4.28344 35.4791 4.65188 36.2722 4.95844C37.3212 5.36625 38.0722 5.85562 38.8597 6.64312C39.6472 7.43062 40.1338 8.17875 40.5416 9.23063C40.8509 10.0209 41.2166 11.2134 41.315 13.4072C41.4247 15.7781 41.4472 16.4897 41.4472 22.4944C41.4472 28.4991 41.4247 29.2134 41.315 31.5844C41.2166 33.7781 40.8481 34.9678 40.5416 35.7609C40.1808 36.7379 39.6051 37.6212 38.8569 38.3456C38.0694 39.1331 37.3213 39.6197 36.2694 40.0275C35.4819 40.3369 34.2894 40.7025 32.0928 40.8038C29.7219 40.9106 29.0103 40.9359 23.0028 40.9359C16.9953 40.9359 16.2809 40.9106 13.91 40.8038C11.7163 40.7025 10.5266 40.3369 9.73344 40.0275C8.75609 39.6673 7.87192 39.0926 7.14594 38.3456C6.39711 37.6201 5.82047 36.7359 5.45844 35.7581C5.15188 34.9678 4.78344 33.7753 4.685 31.5816C4.57813 29.2106 4.55563 28.4991 4.55563 22.4887C4.55563 16.4812 4.57813 15.7725 4.685 13.4016C4.78625 11.2078 5.15188 10.0153 5.46125 9.22219C5.86906 8.17313 6.35844 7.42219 7.14594 6.63469C7.93344 5.84719 8.68156 5.36063 9.73344 4.95281C10.5266 4.64344 11.7163 4.27781 13.91 4.17656C15.9856 4.08094 16.79 4.05281 20.9834 4.05V4.05563ZM35.0122 7.79062C34.6576 7.79062 34.3065 7.86046 33.9789 7.99615C33.6514 8.13184 33.3537 8.33072 33.103 8.58144C32.8523 8.83215 32.6534 9.1298 32.5177 9.45738C32.382 9.78496 32.3122 10.1361 32.3122 10.4906C32.3122 10.8452 32.382 11.1963 32.5177 11.5239C32.6534 11.8514 32.8523 12.1491 33.103 12.3998C33.3537 12.6505 33.6514 12.8494 33.9789 12.9851C34.3065 13.1208 34.6576 13.1906 35.0122 13.1906C35.7283 13.1906 36.415 12.9062 36.9214 12.3998C37.4277 11.8935 37.7122 11.2067 37.7122 10.4906C37.7122 9.77454 37.4277 9.08778 36.9214 8.58144C36.415 8.07509 35.7283 7.79062 35.0122 7.79062ZM23.0028 10.9462C21.4702 10.9223 19.9481 11.2036 18.5253 11.7735C17.1024 12.3435 15.8071 13.1908 14.7148 14.2662C13.6225 15.3416 12.7551 16.6235 12.163 18.0373C11.5709 19.4511 11.266 20.9686 11.266 22.5014C11.266 24.0342 11.5709 25.5517 12.163 26.9655C12.7551 28.3793 13.6225 29.6613 14.7148 30.7366C15.8071 31.812 17.1024 32.6593 18.5253 33.2293C19.9481 33.7993 21.4702 34.0805 23.0028 34.0566C26.0362 34.0092 28.9293 32.771 31.0577 30.6091C33.1861 28.4473 34.3791 25.5352 34.3791 22.5014C34.3791 19.4676 33.1861 16.5555 31.0577 14.3937C28.9293 12.2318 26.0362 10.9936 23.0028 10.9462ZM23.0028 14.9991C24.9922 14.9991 26.9001 15.7893 28.3068 17.196C29.7135 18.6027 30.5038 20.5106 30.5038 22.5C30.5038 24.4894 29.7135 26.3973 28.3068 27.804C26.9001 29.2107 24.9922 30.0009 23.0028 30.0009C21.0134 30.0009 19.1055 29.2107 17.6988 27.804C16.2921 26.3973 15.5019 24.4894 15.5019 22.5C15.5019 20.5106 16.2921 18.6027 17.6988 17.196C19.1055 15.7893 21.0134 14.9991 23.0028 14.9991Z"/></svg>');
    aspect-ratio: 46/45;
  }
}
