@charset "utf-8";

:root {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  --obra-gap: 30px;
  --obra-bloque-gap: 16px;
  --min-padding: 10px;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

@font-face {
  font-family: 'DCC Ash';
  src: url('dcc-ash.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

h1, h2, h3, h4, h5 {
  font-family: 'DCC Ash';
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3.5em;
}

h4 {
  font-size: 3em;
}

h5 {
  font-size: 2.5em;
}

a:link, a:visited, a:hover, a:active {
  all: unset;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.botón-estilizado {
  display: block;
  border: none;
  padding: .8em;
  font-weight: bold;
  text-transform: uppercase;

  :hover {
    background-color: silver;
  }

  :active {
    background-color: darkgray;
  }
}

strong {
  font-weight: bold;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  background-image: url('fondo-papel.webp');
  background-position: 0 900px;
}

main {
  flex-grow: 1;
}

.bloque {
 margin-bottom: 10px;
}

.main-footer-container {
  background-image: url('imgs/main-footer-fondo.webp');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  padding-left: var(--min-padding);
  padding-right: var(--min-padding);

  .main-footer-social-media {
    display: flex;
    column-gap: 20px;
    height: 50px;
    justify-content: center;
    padding-bottom: 10px;

    @media (max-width: 1000px) {
      column-gap: 30px;
    }

    li {
      display: inline;
      height: 35px;

      @media (max-width: 1000px) {
        height: 30px;
      }

      @media (max-width: 500px) {
        height: 23px;
      }

      a {
        display: inline-block;
        height: 100%;

        img {
          height: 100%;
        }
      }
    }
  }

  .main-footer-copyright {
    font-weight: 300;
    font-size: 22px;
    text-align: center;

    @media (max-width: 800px) {
      font-size: 20px;
    }

    @media (max-width: 700px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (max-width: 500px) {
      font-size: 12px;
    }
  }

  .main-footer-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    max-width: 1647px;
    column-gap: 100px;
    font-size: 28px;
    white-space: nowrap;

    > * {
      text-align: center;
      max-width: 324px;
      justify-self: center;
      text-overflow: ellipsis;
      overflow: hidden;

      img {
        max-width: 100%;
        display: block;
      }
    }

    @media (max-width: 1200px) {
      column-gap: 60px;
      font-size: 20px;
    }

    @media (max-width: 800px) {
      justify-content: end;
      column-gap: 26px;
      row-gap: 30px;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      grid-template-rows: 1fr 1fr;
      font-size: 26px;
    }

    @media (max-width: 550px) {
      row-gap: 5px;
      column-gap: 12px;
      font-size: 22px;
      margin-top: 50px;
    }

    @media (max-width: 500px) {
      font-size: 18px;
      margin-top: 40px;
    }

    @media (max-width: 450px) {
      font-size: 17px;
      margin-top: 30px;
    }

    @media (max-width: 400px) {
      font-size: 14px;
    }

    @media (max-width: 300px) {
      font-size: 11px;
    }

    @media (max-width: 260px) {
      row-gap: 20px;
      grid-template-columns: 80%;
      grid-auto-rows: 70px;
      font-size: 16px;
      justify-items: center;

      > * img {
        max-height: 70px;
      }
    }
  }
}
