@charset "utf-8";

@import './obra/_encabezado.scss';
@import './obra/_investigación.scss';
@import './obra/_navegación.scss';

.obra-main {
  --obra-gap: 30px;
  --obra-bloque-gap: 16px;
  display: flex;
  flex-flow: column wrap;
}

.obra-investigación-división {
  position: relative;
  width: 100%;
  margin-top: 50px;

  img {
    display: block;
    width: 100%;
  }

  button {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 10px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 10px;
    border: none;
    background-color: #faef7d;

    > svg {
      fill: #3300ff;
      scale: 0.7;
    }
  }
}
