<footer class="main-footer">

  <div class="main-footer-container">
  <div class="main-footer-logos">
    <div><img src="{{ relURL "imgs/main-footer-logo-t5.webp" }}"></div>
    <div>Departamento de<br>Diseño Multimedial</div>
    <div><img src="{{ relURL "imgs/main-footer-logo-fda.webp" }}"></div>
    <div><img src="{{ relURL "imgs/main-footer-logo-unlp.webp" }}"></div>
  </div>

  <ul class="main-footer-social-media">
    <li>
      <a href="https://www.instagram.com/festivalartimanas/">
        <img src="{{ relURL "imgs/logo-instagram-negro.svg" }}">
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/festival.de.artimanas/">
        <img src="{{ relURL "imgs/logo-facebook-negro.svg" }}">
      </a>
    </li>
  </ul>

  <div class="main-footer-copyright">
    artimañas 2023 | Hecho con amor por alumnes
  </div>
  </div>
</footer>
