<footer class="main-footer">
  <div class="main-footer-container">
    <div class="main-footer-logos">
      <div>
        <a href="https://taller5.ludic.cc/">
          <img src="{{ relURL "imgs/main-footer-logo-t5.webp" }}">
        </a>
      </div>
      <div>
        <a href="https://www2.fba.unlp.edu.ar/multimedia/">
          Departamento de<br>Diseño Multimedial
        </a>
      </div>
      <div>
        <a href="https://fba.unlp.edu.ar/">
          <img src="{{ relURL "imgs/main-footer-logo-fda.webp" }}">
        </a>
      </div>
      <div>
        <a href="https://unlp.edu.ar/">
          <img src="{{ relURL "imgs/main-footer-logo-unlp.webp" }}">
        </a>
      </div>
    </div>

    <ul class="main-footer-social-media">
      <li>
        <a href="https://www.instagram.com/festivalartimanas/">
          <img src="{{ relURL "imgs/logo-instagram-negro.svg" }}">
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/festival.de.artimanas/">
          <img src="{{ relURL "imgs/logo-facebook-negro.svg" }}">
        </a>
      </li>
    </ul>

    <div class="main-footer-copyright">
      artimañas 2023 | Hecho con amor por alumnes
    </div>
  </div>
</footer>
