* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
}

@font-face {
  font-family: 'DCC Ash';
  src: url('http://localhost:1313/artimanias/2023/dcc-ash.otf') format('opentype');
}

h1, h2, h3, h4, h5 {
  font-family: 'DCC Ash';
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3.5em;
}

h4 {
  font-size: 3em;
}

h5 {
  font-size: 2.5em;
}

strong {
  font-weight: bold;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  background-image: url('fondo-papel.webp');
  background-position: 0 900px;
}

main {
  flex-grow: 1;
}

#footer {
  background-color: yellow;
}

.bloque {
 margin-bottom: 10px;
}
