* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
}

strong {
  font-weight: bold;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  background-image: url('fondo-papel.webp');
  background-position: 0 900px;
}

main {
  flex-grow: 1;
}

#footer {
  background-color: yellow;
}

.bloque {
 margin-bottom: 10px;
}
