:root {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  --obra-gap: 30px;
  --obra-bloque-gap: 16px;
  --min-padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

@font-face {
  font-family: 'DCC Ash';
  src: url('dcc-ash.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

h1, h2, h3, h4, h5 {
  font-family: 'DCC Ash';
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3.5em;
}

h4 {
  font-size: 3em;
}

h5 {
  font-size: 2.5em;
}

a:link, a:visited, a:hover, a:active {
  all: unset;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.botón-estilizado {
  display: block;
  border: none;
  padding: .8em;
  font-weight: bold;
  text-transform: uppercase;

  :hover {
    background-color: silver;
  }

  :active {
    background-color: darkgray;
  }
}

strong {
  font-weight: bold;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  background-image: url('fondo-papel.webp');
  background-position: 0 900px;
}

main {
  flex-grow: 1;
}

#footer {
  background-color: yellow;
}

.bloque {
 margin-bottom: 10px;
}
