.obra-main {
  --obra-gap: 30px;
  --obra-bloque-gap: 16px;
  display: flex;
  flex-flow: column wrap;
}

.obra-investigacion {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center
  align-content: stretch;
  width: 100%;
  max-width: 1322px;
  padding-left: var(--min-padding);
  padding-right: var(--min-padding);
  box-sizing: border-box;
  margin: 0 auto;

  gap: var(--obra-gap);
  text-align: justify;

  > p {
    margin-top: calc(var(--obra-gap) * -1);
  }

  h3 {
    font-size: 2.8em;
    text-transform: uppercase;
    padding-bottom: .5rem;
    letter-spacing: 0.2rem;
  }

  .obra-investigacion-video {
    aspect-ratio: 16 / 9;
  }
}

.obra-investigacion-bloque {
  display: flex;
  column-gap: var(--obra-bloque-gap);

  > img {
    min-width: calc(50% - var(--obra-bloque-gap) / 2);
    object-fit: contain;
    align-self: flex-start;
  }

  .obra-investigacion-bloque-texto {
    padding-top: 16px;

    p:not(:last-of-type) {
      margin-bottom: var(--obra-gap);
    }
  }
}

.obra-investigacion-bloque:nth-of-type(2n) {
  flex-direction: row-reverse;
}

@media (max-width: 720px) {
  .obra-investigacion {
    width: 100%;

    img {
      width: 100%;
    }

    .obra-investigacion-bloque,
    .obra-investigacion-bloque:nth-of-type(2n) {
      flex-direction: column;
    }
  }
}

.investigación {
  width: 100%;
  background-image: url('imgs/fondo-investigación.webp');
  /* se asume que la imagen tiene 1/4 de ancho que el del divisor */
  background-size: 25%;
  color: white;
  padding-top: 50px;
  padding-bottom: 30px;

  .investigación-contenido {
    padding-left: calc(var(--min-padding) * 4);
    padding-right: calc(var(--min-padding) * 4);
    display: flex;
    flex-wrap: wrap;
    gap: 1em 60px;
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;

    > img {
      flex: 1;
      display: block;
      align-self: flex-start;
      max-width: 100%;
    }

    .investigación-texto {
      flex: 1;
      text-align: justify;
      align-self: center;

      h3 {
        text-transform: uppercase;
        padding-bottom: 5px;
      }

      > .button-wrapper {
        margin-top: 10px;
      }
    }
  }

  @media (max-width: 1000px) {
    .investigación-contenido {
      flex-flow: column;

      > img {
        min-width: 100%;
      }
    }
  }

  @media (max-width: 1322px) {
    /* 1322 -> ancho de .obra-investigacion */
    .investigación-contenido {
      padding-left: var(--min-padding);
      padding-right: var(--min-padding);
      gap: 1em 30px;

      h3 {
        word-break: break-all;
      }
    }
  }
}

.obra-investigación-división {
  position: relative;
  width: 100%;
  margin-top: 50px;

  img {
    display: block;
    width: 100%;
  }

  button {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 10px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 10px;
    border: none;
    background-color: #faef7d;

    > svg {
      fill: #3300ff;
      scale: 0.7;
    }
  }
}

.persona-wrapper {
  .adornoA {
    display: none;
    position: absolute;
    left: 0;
    top: 5px;
    width: 40%;
    transform: translate(-25%, 50%) scale(1.75) rotate(8deg);
  }

  .adornoB {
    display: none;
    position: absolute;
    width: 20%;
    top: 40%;
    z-index: 10;
    transform: translatex(130%) rotate(-15deg);
  }
}

.obra-navegación {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 92vh;
  background-image: url('imgs/obra-siguiente-textura.webp');
  background-size: cover;

  @media (min-width: 2500px) {
    background-image: url('imgs/obra-siguiente-textura-hd.webp');
  }

  @media (max-width: 720px) {
    background-image: url('imgs/obra-siguiente-textura-mob.webp');
  }

  .obra-navegación__volver-mob {
    display: none;
  }

  .obra-navegación__volver {
    z-index: 100;
    width: 38vw;
    position: absolute;
    font-size: 40px;
    display: flex;

    bottom: 6%;
  }

  .obra-navegación__persona {
    box-sizing: border-box;
    padding-top: 15vh;
    height: 100%;
    object-fit: contain;
    position: absolute;
    z-index: 1;
    right: 50%;
    transform: translateX(50%);
    pointer-events: none;
  }

  .obra-navegación-siguiente {
    position: absolute;
    height: 70%;
    aspect-ratio: 520 / 680;
    object-fit: cover;
    right: 0;
    bottom: 5%;

    .obra-navegación-siguiente__ilustración {
      height: 100%;
      aspect-ratio: 520 / 680;
      clip-path: url(#path);
      object-fit: cover;
      z-index: 0;
    }

    .obra-navegación-siguiente__cinta {
      height: 23%;
      position: absolute;
      top: -5vh;
      right: 0;
      transform: rotate(-10deg) translateX(10vh);
    }
  }

  .obra-navegación-siguiente-mob {
    margin-top: min(280px, 38%);
    display: none;
    align-items: center;
    justify-content: center;
    transform: rotate(8deg);
    transform-origin: top left;
    width: 100%;
    padding-bottom: 20%;

    > a {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .obra-navegación-siguiente-mob__prox {
      max-height: 200px;
      object-fit: cover;
      transform: rotate(-16deg) translate(-3%, -40%);
      transform-origin: center left;
      max-width: 110%;
      position: absolute;
      left: 0;
      z-index: -1;

      @media (min-width: 480px) {
        max-width: 100%;
      }
    }

    .obra-navegación-siguiente-mob__sig {
      max-height: 80px;
      min-width: 120%;

      @media (max-width: 480px) {
        max-height: 60px;
      }
    }

    .obra-navegación-siguiente-mob__sig-texto {
      position: absolute;
      max-width: 100%;
      padding: 0.3em;
      color: white;
      font-size: 1.5em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-family: 'DCC ASH';
    }
  }
}


@media (min-aspect-ratio: 1100 / 500) {
  .obra-navegación {
    height: 130vh;
  }

  .obra-navegación .obra-navegación__persona {
    right: 43%;
  }
}

@media (min-aspect-ratio: 507/531) and (max-aspect-ratio: 1382 / 1064) {
  .obra-navegación .obra-navegación__persona {
    right: 64%;
  }

  .obra-navegación .obra-navegación__volver {
    width: 70%;
  }
}

@media (max-aspect-ratio: 507 / 531) {
  .obra-navegación {
    height: initial;

    .obra-navegación-siguiente-mob {
      display: flex;
    }
  }

  .persona-wrapper {
    display: flex;
    overflow: hidden;
    justify-content: center;

    .adornoA {
      display: initial;
    }

    .adornoB {
      display: initial;
    }
  }

  .obra-navegación .obra-navegación__persona {
    min-width: 150%;
    height: initial;
    position: initial;
    display: block;
    transform: initial;
    overflow: hidden;
    padding-top: 50%;
  }

  .obra-navegación .obra-navegación__volver {
    position: relative;
    z-index: 10;
    min-width: 100%;
    right: 50%;
    transform: translate(50%, -50%);
  }

  .obra-navegación .obra-navegación-siguiente .obra-navegación-siguiente__ilustración {
    display: none;
  }

  .obra-navegación .obra-navegación-siguiente .obra-navegación-siguiente__cinta {
    display: none;
  }

  .obra-navegación .obra-navegación__volver {
    display: none;
  }

  .obra-navegación .obra-navegación__volver-mob {
    display: initial;
    position: relative;
    width: 100%;
    margin-bottom: -25%;

    transform: translateY(-50%);
    z-index: 999;
  }
}
