<div class="descripción-evento-wrapper">
<div class="descripción-evento" id="el-evento">
  <div class="descripción-evento-texto">
    <h3>Sobre el evento</h3>
    <p>
      Desde 2011 se realiza el festival “Artimañas” en donde el conjunto del
      alumnado de Taller de Diseño Multimedial presentan sus trabajos finales de
      carrera es una muestra de trabajos finales de Taller Multimedial V para la
      Licencitura en Diseño Multimedial.
    </p>
    <div class="button-wrapper">
      <!-- TODO: reemplazar por un link o función apropiado -->
      <a
        href="https://osm.org/go/MnyxpVV1A-?m="
        target="_blank"
        rel="noopener noreferrer"
      >
        <button class="botón-estilizado">Ver mapa del evento</button>
      </a>
    </div>
  </div>
  <div></div>
  <div class="descripción-evento-imagen">
    <img src="fonseca.jpg" />
  </div>
</div>
</div>
