<header class="header-header">
  <nav class="barra-de-navegación">
    <ul>
      <li><a href="#">El evento</a></li>
      <li><a href="#">Obras</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>

  <div class="contenedor">
    <!-- <h1>ARTIMAÑAS</h1> -->
    <div class="encabezado">
      <img src='{{ absURL "imgs/header-artim-2.png" }}' />
    </div>

    <div class="fecha">
      <img src='{{ absURL "imgs/header-v-2.png" }}' />
    </div>

    <div class="socials">
      <a href="https://www.facebook.com/festival.de.artimanas"
        ><img src='{{ absURL "imgs/header-ig.png" }}'
      /></a>
      <a href="https://www.facebook.com/festival.de.artimanas"
        ><img src='{{ absURL "imgs/header-tiktok.png" }}'
      /></a>
      <a href="https://www.facebook.com/festival.de.artimanas">
        <img src='{{ absURL "imgs/header-fb.png" }}' />
      </a>
    </div>
  </div>
</header>
