<header class="header-header">
  <nav class="barra-de-navegación">
    <ul>
      <li><a href="#el-evento">El evento</a></li>
      <li><a href="#listado-de-obras">Obras</a></li>
    </ul>
  </nav>

  <div class="contenedor">
    <div class="encabezado">
      <img src='{{ relURL "imgs/header-artim.png" }}'
           alt="Artimañas. Sábado 2 de diciembre, 19 horas, Facultad de Artes."
           />
    </div>

    <div class="fecha">
      <img src='{{ relURL "imgs/header-v.png" }}'
           alt="V 2023*"
           />
    </div>

    <div class="socials">
      <a href="https://www.instagram.com/festivalartimanas/"
        ><img src='{{ relURL "imgs/logo-instagram.svg" }}'
              alt="Instagram"
      /></a>
      <a href="https://www.facebook.com/festival.de.artimanas">
        <img src='{{ relURL "imgs/logo-facebook.svg" }}'
             alt="Facebook"
             />
      </a>
    </div>
  </div>
</header>
