<header class="header-header">
  <nav class="barra-de-navegación">
    <ul>
      <li><a href="#el-evento">El evento</a></li>
      <li><a href="#listado-de-obras">Obras</a></li>
    </ul>
  </nav>

  <div class="contenedor">
    <div class="encabezado">
      <img src='{{ relURL "imgs/header-artim.png" }}' />
    </div>

    <div class="fecha">
      <img src='{{ relURL "imgs/header-v.png" }}' />
    </div>



    
    <ul class="socials">
      <li>
        <a href="https://www.instagram.com/festivalartimanas/">
          <i class="ícono instagram" title="Instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/festival.de.artimanas/">
          <i class="ícono facebook" title="Facebook"></i>
        </a>
      </li>
    </ul>
  </div>
    
</header>
