<h2>Obras</h2>

<div class="home-lista-obras-dialog--acceso">
  <span id="home-lista-obras-dialog--acceso__botón"></span>
</div>

<dialog id="home-lista-obras-dialog">
  <h6 style="position: sticky; top: 0; background-color: white">Filtrar por categoría</h6>
  <div class="obras-dialog-opción" data-categoría="">Ver todo</div>
  {{- range $categoria, $_ := .Site.Taxonomies.categories -}}
  <div class="obras-dialog-opción" data-categoría="obra-cat-{{ anchorize $categoria }}">
  {{ $categoria | humanize }}
  </div>
  {{- end -}}
</dialog>

<div id="home-lista-obras__filtros">
{{ range $categoria, $_ := .Site.Taxonomies.categories }}
  <span data-categoría="obra-cat-{{ anchorize $categoria }}">{{ $categoria | humanize }}</span>
{{ end }}
</div>

<div class="home-zona-lista-obras">
  <div id="home-lista-obras__lista">
    {{ range where .Site.RegularPages.ByDate "Type" "obra" }}
    <div class="home-lista-obras__card{{ range .Params.categories }} obra-cat-{{ anchorize . }}{{ end }}">
      <a href="{{ .RelPermalink }}" style="width: 100%; height: 100%; display: flex; position: relative; justify-content: flex-end">
        <div class="home-lista-obras__card-contenido">
          {{- $nombreDeObra := .Title -}}
          {{- with default (.Resources.GetMatch "encabezado-main.*") (.Resources.GetMatch "thumb.*") -}}
          <img src="{{ .RelPermalink }}"/>
          {{- end -}}
          <div class="home-lista-obras__card-texto">
            <div class="home-lista-obras__card-texto__crédito">
              <h3>"{{ .Title }}"</h3>
              <span>por {{ .Params.artist }}</span>
            </div>

            <div class="home-lista-obras__card-texto__fecha-lugar">
              <div>2/12</div>
              <div>
                <span>Facultad de artes</span>
                <span>Sede fonseca</span>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    {{ end }}
  </div>

  <button id="obras-nav-retroceder" class="obras-nav-botón" aria-label="Retroceder"><img src="{{ relURL "imgs/icono-flecha.svg" }}" alt=""></button>
  <button id="obras-nav-avanzar" class="obras-nav-botón" aria-label="Avanzar"><img src="{{ relURL "imgs/icono-flecha.svg" }}" alt=""></button>
</div>

<script>
const $ = document.getElementById.bind(document);
  
const listaDeObras = $('home-lista-obras__lista');
const filtroDialog = $('home-lista-obras-dialog');
const filtroDialogBotón = $('home-lista-obras-dialog--acceso__botón');
const botonesFiltroDeObras = $('home-lista-obras__filtros');
const obras = listaDeObras.querySelectorAll('[class^="obra-cat-"], [class*=" obra-cat-"]');
const botónRetroceder = $('obras-nav-retroceder');
const botónAvanzar = $('obras-nav-avanzar');
const finDeScrollOffset = parseInt(getComputedStyle(listaDeObras).getPropertyValue('--lista-obras-espaciado'));
const ejecutarPrefiltro = [];
const ejecutarPosfiltro = [];

let claseMostrada = '';

const clasesNombres = Object.fromEntries(
  Array.prototype.map.call(
    botonesFiltroDeObras.children,
    (e) => [e.dataset.categoría, e.innerText],
  ),
);

clasesNombres[''] = 'Ver todo';
filtroDialog.querySelector('[data-categoría=""]').innerText = clasesNombres[''];

/**
 * recibe el nombre de la clase a activar
 * (pasar valor falsy si se quiere desactivar todo)
 */
const estilizarBotones = (clase) => {
  for (const botónDeFiltro of botonesFiltroDeObras.children) botónDeFiltro.classList.remove('obra-filtro-activo');

  if (clase) {
    const botónAResaltar = Array.prototype.find.call(
      botonesFiltroDeObras.children,
      e => e.dataset.categoría === clase,
    );

    botónAResaltar.classList.add('obra-filtro-activo');
  }
}

const filtrar = (claseSeleccionada, togglear) => {
  claseMostrada = togglear && claseSeleccionada === claseMostrada ? '' : claseSeleccionada;

  ejecutarPrefiltro.forEach((f) => f(claseMostrada));

  for (const obra of obras) {
    obra.classList.remove('home-lista-obras__card--animación');
    void obra.offsetWidth;
    obra.classList.add('home-lista-obras__card--animación');

    obra.style.display = !claseMostrada || obra.classList.contains(claseMostrada)
      ? null
      : 'none';
  }

  ejecutarPosfiltro.forEach((f) => f(claseMostrada));
}

ejecutarPrefiltro.push(() => {
  for (const opción of filtroDialog.children) {
    if (opción.dataset.categoría === claseMostrada) opción.classList.add('obra-filtro-activo');
    else opción.classList.remove('obra-filtro-activo');
  }        
});

for (const botónFiltro of botonesFiltroDeObras.children) {
  const filtrarConClase = (e) => {
    const claseSeleccionada = e.target.dataset.categoría === claseMostrada ? '' : e.target.dataset.categoría;
    filtrar(claseSeleccionada, true);
  };
  
  if (botónFiltro.dataset.categoría !== undefined) {
    botónFiltro.addEventListener('click', filtrarConClase);
  }
}

const mover = (n) => {
  const ancho = Array.prototype.find.call(obras, e => e.offsetWidth > 0).offsetWidth ?? 0;

  listaDeObras.scrollLeft += ancho * n;
}

botónRetroceder.addEventListener('click', () => mover(-1));
botónAvanzar.addEventListener('click', () => mover(1));

const decidirVisibilidadEnBotones = () => {
  // usar ese offset no es ideal, la verdad
  const ubicación = listaDeObras.scrollLeft === 0
                  ? 'comienzo'
                  : listaDeObras.scrollLeft + listaDeObras.clientWidth >= listaDeObras.scrollWidth - finDeScrollOffset * 20 
                    ? 'final'
                    : 'intermedio';

  const esScrollable = listaDeObras.scrollWidth > listaDeObras.clientWidth;

  botónAvanzar.style.display = !esScrollable || ubicación === 'final' ? 'none' : '';
  botónRetroceder.style.display = !esScrollable || ubicación === 'comienzo' ? 'none' : '';
};

ejecutarPrefiltro.push(estilizarBotones);
ejecutarPrefiltro.push((claseMostrada) => {
  filtroDialogBotón.innerText = clasesNombres[claseMostrada];
});
ejecutarPosfiltro.push(decidirVisibilidadEnBotones);

window.addEventListener('resize', decidirVisibilidadEnBotones);
window.addEventListener('load', decidirVisibilidadEnBotones);

// scrollend no está soportado aún en Safari pero whatever
listaDeObras.addEventListener("scrollend", (e) => {
  if (e.target === listaDeObras) decidirVisibilidadEnBotones();
});

const dialog = {
  clickeable: false,
  cerrando: false,
  abrirSelección() {
    this.cerrando = false;
    this.clickeable = true;
    filtroDialog.showModal();
    document.body.style.overflow = 'hidden';
    filtroDialog.classList.add('home-lista-obras-dialog--abierto');
  },
  cerrarSelección() {
    this.cerrando = true;
    this.clickeable = false;
    filtroDialog.classList.remove('home-lista-obras-dialog--abierto');
    document.body.style.overflow = '';        
  }
}

filtroDialog.addEventListener('cancel', (e) => {
  e.preventDefault();
});

filtroDialog.querySelectorAll('.obras-dialog-opción').forEach(elección => {
  elección.addEventListener('click', (e) => {
    if (dialog.clickeable) {
      dialog.cerrarSelección();
      filtrar(e.target.dataset.categoría);
    }
  });
});

filtroDialog.addEventListener('transitionend', (e) => {
  if (dialog.cerrando) {
    filtroDialog.close();
  }
});

filtroDialogBotón.addEventListener('click', (e) => {
  dialog.abrirSelección();
});

filtrar('');
</script>
